@media only screen and (max-width: 480px) and (min-width: 320px) {
  #features {
    max-width: 480px;
    margin: auto;
    height: calc(100vh - var(--nav-height));
    scroll-snap-align: end;
    -webkit-scroll-snap-align: end; }
  #features > span {
    color: var(--blue);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    display: block; }
  .featuresGrid {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--nav-height) - 60px);
    position: relative;
    justify-content: space-evenly; }
  .featureItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24%;
    width: 85%;
    background: rgba(17, 17, 19, 0.03);
    border-radius: 18px;
    box-shadow: -3px -3px 4px rgba(143, 206, 81, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(50px);
    margin: 0 auto; }
  .featureItem > img {
    background: transparent;
    align-self: flex-end;
    margin-right: 15px;
    content: url("./../img/featureCircleMobile.png");
    width: 16px; }
  .featureItemTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: var(--white);
    background: transparent;
    letter-spacing: 0.04em;
    margin-left: 15px; }
  .featureItemDesc {
    background: transparent;
    color: var(--white);
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    margin-left: 15px; }
  .featureItem:nth-child(odd) {
    justify-self: end; }
  .featureItem:nth-child(even) {
    justify-self: start; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  #features {
    max-width: 768px;
    margin: auto;
    height: calc(100vh - var(--nav-height));
    scroll-snap-align: end;
    -webkit-scroll-snap-align: end; }
  #features > span {
    color: var(--blue);
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    display: block; }
  .featuresGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - var(--nav-height) - 106px);
    position: relative; }
  .featureItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24%;
    width: 60%;
    background: rgba(17, 17, 19, 0.03);
    border-radius: 18px;
    box-shadow: -3px -3px 4px rgba(143, 206, 81, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(50px);
    margin: auto; }
  .featureItem:nth-child(odd) {
    justify-self: end; }
  .featureItem:nth-child(even) {
    justify-self: start; }
  .featureItemTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: var(--white);
    background: transparent;
    letter-spacing: 0.04em;
    margin-left: 15px; }
  .featureItemDesc {
    background: transparent;
    color: var(--white);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    margin-left: 15px; }
  .featureItem > img {
    background: transparent;
    align-self: flex-end;
    margin-right: 15px; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  #features {
    max-width: 1024px;
    margin: auto;
    height: calc(100vh - var(--nav-height));
    scroll-snap-align: end;
    -webkit-scroll-snap-align: end; }
  #features > span {
    color: var(--blue);
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    display: block; }
  .featuresGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - var(--nav-height) - 106px);
    position: relative; }
  .featureItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24%;
    width: 60%;
    background: rgba(17, 17, 19, 0.03);
    border-radius: 18px;
    box-shadow: -3px -3px 4px rgba(143, 206, 81, 0.1), 4px 4px 5px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(50px);
    margin: auto; }
  .featureItem:nth-child(odd) {
    justify-self: end; }
  .featureItem:nth-child(even) {
    justify-self: start; }
  .featureItemTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: var(--white);
    background: transparent;
    letter-spacing: 0.04em;
    margin-left: 15px; }
  .featureItemDesc {
    background: transparent;
    color: var(--white);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    margin-left: 15px; }
  .featureItem > img {
    background: transparent;
    align-self: flex-end;
    margin-right: 15px; } }
