#team {
  max-width: 1500px;
  margin: auto;
  height: calc(100vh - var(--nav-height));
  width: 100%;
  // height: calc(100vh - 90px);
  scroll-snap-align: end;
  -webkit-scroll-snap-align: end;
}

#team > span {
  color: var(--blue);
  margin-left: 50px;
  font-size: 70px;
  font-weight: 800;
  background: transparent;
}

#team > img {
  width: 100%;
}

#team h1 {
  color: var(--blue);
  margin-left: 50px;
  font-size: 70px;
  font-weight: bolder;
}

#flexTeam {
  // margin-top: 72px;
  height: 100%;
  width: 100%;
  // justify-content: center;
  display: none;
  flex-direction: column;
  gap: 20px;
}

.teamGrid {
  // width: ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // gap: 150px;
  margin: auto 2%;
  margin-top: 5px;
  margin-bottom: 0px;
}

.teamGrid:last-child {
  margin-bottom: 20px;
}

.teamGrid img {
  width: 192px;
  height: 192px;
  justify-self: center;
  cursor: pointer;
}

.personInformationsOverlay {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 300;
  background-image: unset;
  display: none;
  justify-content: center;
}

.visible {
  display: flex !important;
}

.personInformationsContainer {
  width: 45vw;
  height: 30vh;
  background-color: olivedrab;
  align-self: center;
  background-image: unset;
  display: grid;
  grid-template-columns: 30% 70%;
}

.personInformationsContainer > img {
  background: transparent;
  margin: 0 auto;
  margin-top: 5%;
}

.personInformationsContainer:first-child {
  background: transparent;
}

.aboutPerson {
  display: flex;
  flex-direction: column;
  background-image: unset;
  background-color: black;
  // margin: auto;
  gap: 5px;
}

.nameAndLinksToSocialMedia {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 50px;
  background-image: unset;
  background: transparent;
}

.nameAndLinksToSocialMedia > span {
  position: absolute;
  left: 30px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 46px;
  text-transform: uppercase;
  color: var(--blue);
  background: transparent;
}

// .nameAndLinksToSocialMedia > a > img {
//   margin: 10px;
//   cursor: pointer;
// }


.nameAndLinksToSocialMedia > div{
  display: flex;
  background: transparent;
  gap: 20%;
  align-items: center;
}

.aboutPerson > span {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  color: #8fce51;
  margin-left: 30px;
  background: transparent;
}

.textAbout {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  color: var(--white);
  margin-left: 30px;
  background: transparent;
}

.aboutPerson > button {
  @include button-common-style;
  background-color: var(--green);
  color: var(--white);
  width: 158px;
  height: 24px;
  margin-left: auto;
  margin-top: auto;
}

.teamGridResponesive {
  display: none;
}

#flexTeamResponsive {
  display: none;
}

#team > span:nth-child(2) {
  display: none;
}


.personContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.personNameAndRole{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.personName {
  display: block;
  font-style: normal;
  color: #0ABAE7;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.personRole {
  display: block;
  font-style: normal;
  color: #8FCE51;
  font-weight: 300;
  font-size: 16px;
  line-height: 31px;
}

.mobileLogo {
  display: none;
  width: 60px;
  height: 70px;
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
  .personInformationsContainer {
    width: 58vw;
  }
}

@media only screen and (max-width: 744px) and (min-width: 429px) {
  //izbrisati
  #team {
    position: relative;
  }

  #team > span {
    display: block;
    text-align: center;
    margin-left: unset;
  }

  #team > img {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 40px;
  }

  .teamGrid {
    display: none;
  }

  #team span:first-child {
    display: none;
  }

  #team span:nth-child(2) {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 29px;
    color: var(--green);
  }

  #flexTeam {
    display: none;
  }

  #flexTeamResponsive {
    margin-top: 72px;
    height: 100%;
    width: 100%;
    // justify-content: center;
    display: none;
    flex-direction: column;
    gap: 29px;
    position: absolute;
    top: 0px;
    background: transparent;
  }

  .teamGridResponsive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 132px;
    margin: 0 auto;
    background: transparent;
  }

  .teamGridResponsive:nth-child(3) img:first-child{
    margin: auto;
  }

  .teamGridResponsive img {
    background: transparent;
  }

  .personInformationsOverlayResponsive {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 300;
    background-image: unset;
    justify-content: center;
  }

  .personInformationsContainerResponsive {
    margin: auto;
    width: 95vw;
    align-self: center;
    background-image: unset;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .personInformationsContainerResponsive .logo{
      width: 60px;
      height: 70px;
  }
  
  .personInformationsContainerResponsive > img {
    background: transparent;
    margin: 0 auto;
    margin-top: 8%;
  }
  
  .personInformationsContainerResponsive:first-child {
    background: transparent;
  }

  .personInformationsContainerResponsive span:nth-child(3){
      color: var(--blue);
      align-self: center;
      margin-top: 50px;
      font-size: 25px;
      line-height: 37.5px;
      font-weight: 500;
  }

  .personInformationsContainerResponsive span:nth-child(4){
    color: var(--green);
    align-self: center;
    font-size: 20px;
    line-height: 31px;
    font-weight: 300;
  }
  
  .nameAndLinksToSocialMedia {
    display: flex;
    position: relative;
    height: 50px;
    background-image: unset;
    background: transparent;
    align-self: center;
  }
  
  .textAbout {
    margin: auto;
    width: 85%;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    color: var(--white);
    margin-left: auto;
    background: transparent;
    margin-top: 30px;
  }
  
  .personInformationsOverlayResponsive button {
    @include button-common-style;
    margin: auto;
    background-color: var(--green);
    color: var(--white);
    width: 100%;
    margin-top: 50px;
    height: 44px;
  }

  .mobileLogo {
    display: block;
  }

  .personInformationsContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    grid-template-columns: unset;
  }

  .aboutPerson{
    height: 70%;
    gap: 8%;
  }

  .nameAndLinksToSocialMedia{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .nameAndLinksToSocialMedia > span {
    width: 100%;
    text-align: center;
    position: unset;
  }

  .nameAndLinksToSocialMedia > div {
    gap: 0%;
    align-items: unset;
    justify-content: center;
  }

  .nameAndLinksToSocialMedia > div > a {
    margin: 2%
  }

  .aboutPerson button {
    @include button-common-style;
    margin: auto;
    background-color: var(--green);
    color: var(--white);
    width: 100%;
    // margin-top: 50px;
    height: 100px;
  }

  .aboutPerson > span {
    text-align: center;
    margin-left: unset;
  }


}

@media only screen and (max-width: 429px) {
  //izbrisati
  #team {
    position: relative;
    height: 80vh;
  }

  #team > span {
    display: block;
    text-align: center;
    margin-left: unset;
  }

  #team span:first-child {
    display: none;
  }

  #team span:nth-child(2) {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 29px;
    color: var(--green);
  }

  #team > img {
    display: block;
    margin: auto;
    width: 75%;
    margin-top: 40px;
  }

  .teamGrid {
    display: none;
  }

  #flexTeam {
    display: none;
  }

  #flexTeamResponsive {
    margin-top: 60px;
    height: 100%;
    width: 100%;
    // justify-content: center;
    display: none;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    top: 0px;
    background: transparent;
  }

  .teamGridResponsive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin: 0 auto;
    background: transparent;
  }

  .teamGridResponsive img {
    background: transparent;
  }

  .teamGridResponsive:nth-child(3) img:first-child{
    margin: auto;
  }

  //   Person for mobile
  .personInformationsOverlayResponsive {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 300;
    background-image: unset;
    justify-content: center;
  }

  .personInformationsContainerResponsive {
    margin: auto;
    width: 95vw;
    align-self: center;
    background-image: unset;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .personInformationsContainerResponsive .logo{
      width: 60px;
      height: 70px;
  }
  
  .personInformationsContainerResponsive > img {
    background: transparent;
    margin: 0 auto;
    margin-top: 8%;
  }
  
  .personInformationsContainerResponsive:first-child {
    background: transparent;
  }

  .personInformationsContainerResponsive span:nth-child(3){
      color: var(--blue);
      align-self: center;
      margin-top: 50px;
      font-size: 25px;
      line-height: 37.5px;
      font-weight: 500;
  }

  .personInformationsContainerResponsive span:nth-child(4){
    color: var(--green);
    align-self: center;
    font-size: 20px;
    line-height: 31px;
    font-weight: 300;
  }
  
  .nameAndLinksToSocialMedia {
    display: flex;
    position: relative;
    height: 50px;
    background-image: unset;
    background: transparent;
    align-self: center;
  }
  
  .textAbout {
    margin: auto;
    width: 85%;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    color: var(--white);
    margin-left: auto;
    background: transparent;
    margin-top: 30px;
  }
  
  .personInformationsOverlayResponsive button {
    @include button-common-style;
    margin: auto;
    background-color: var(--green);
    color: var(--white);
    width: 100%;
    margin-top: 90px;
    height: 44px;
  }
}

@media only screen and (min-width: 1513px){
  #flexTeam{
    margin-top: 5%;
    gap: 30px;
  }
}
